{% extends 'main.html' %}

{% block title %}
<title>All Users</title>
{% endblock title %}

{% block body %}
<h1 style="text-align: center;">All Users</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Kyc Full Name</th>
            <th>Nick Name</th>
            <th>Phone Number</th>
            <th>Country</th>
            <th>Binance Key</th>
            <th>Secret Key</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody>
        {% for user in all_user %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.kyc_full_name }}</td>
            <td>{{ user.nick_name }}</td>
            <td>{{ user.mobile_no }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.binance_key }}</td>
            <td>{{ user.secret_key }}</td>
            <td>{{ user.zip_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}
