{% extends 'main.html' %}

{% block title %}
<title>Login Page</title>
{% endblock title %}

{% block body %}

<div class="d-flex justify-content-center overflow-hidden" style="margin-top: 90px; margin-bottom: 10px;">
    <div class="d-flex">
        <img src="https://images.livemint.com/img/2023/02/10/1600x900/Stock_market_news_1675988415033_1675988415210_1675988415210.jpg" alt="Login Image" style="width: 500px; height: auto;">
        <div class="">
            <h1 style="text-align: center; font-size: 40px; margin-top: 40px; margin-bottom: -14px;">Welcome to P2PMax</h1>
            <form class="container my-5" method="POST">
                {% csrf_token %}
                <div class="form-row" style="width: 600px;"> 
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputPassword4" style="margin-bottom: 5px;">Binance Key</label>
                            <input type="password" class="form-control" id="binanaceId" name="binance" required>
                        </div> 
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputPassword4" style="margin-bottom: 5px;">Secret Key</label>
                            <input type="password" class="form-control" id="secret" name="secret" required>
                        </div>
                    </div>
                    <div style="margin-bottom: 5px; margin-top: 7px; display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-primary col-md-6">Proceed</button>
                    </div>
                </div>
                <div style="width: 300px;height: 57px; position: absolute; right: 0px;top: 0px;">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}{% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}{% endif %}" style="width: 295px;">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <meta http-equiv="refresh" content="2">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
