{% extends 'main.html' %}

{% block title %}
<title>Profile Page</title>
{% endblock title %}

{% block body %}
<div class="d-flex">
  
    {% csrf_token %}
    <div style="width: 15%; height: 100vh; background-color: black;">
  
      <div>
        <h1 class="container my-5" style="background-color: aliceblue;">P2PMax</h1>
      </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="http://localhost:8000/home">Home</a></li>
            {% if user.is_staff %}
              <li><a class="dropdown-item" href="http://localhost:8000/all-users">All Users</a></li>
              <li><a class="dropdown-item" href="http://localhost:8000/active">Active Users</a></li>
          {% endif %}
          </ul>
        </div>
    </div>

    <div style="margin-left: 150px; margin-top: 60px;">
        <div>
            <h1 style="text-align: center;">Profile</h1>
        </div>
    </div>
    <div class="form-row" style="margin-left: 60px;margin-top: 120px;">
        <div class="container my-4">
            <div class="form-row" style="width: 600px;">
                <div style="margin-bottom: 5px;">
                    <strong>Email:</strong>
                    <input class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Kyc Full Name:</strong>
                    <input class="form-control" id="kyc_full_name" name="kyc_full_name" value="{{user.kyc_full_name}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Nick Name:</strong>
                    <input class="form-control" id="nick_name" name="nick_name" value="{{user.nick_name}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Phone Number:</strong>
                    <input class="form-control" id="mobile_no" name="mobile_no" value="{{user.mobile_no}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Country:</strong>
                    <input class="form-control" id="country" name="country" value="{{user.country}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Api Key:</strong>
                    <input class="form-control" id="binance_key" name="binance_key" value="{{user.binance_key}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Api Secret:</strong>
                    <input class="form-control" id="secret_key" name="secret_key" value="{{user.secret_key}}" readonly>
                </div>
                <div style="margin-bottom: 5px;">
                    <strong>Zip Code:</strong>
                    <input class="form-control" id="zip_code" name="zip_code" value="{{user.zip_code}}" readonly>
                </div>
                <div class="container my-2">
                    <a href="http://localhost:8000/profile-edit" class="btn btn-primary w-25">Edit Profile</a>
                    <a href="javascript:history.go(-1);" class="btn btn-primary w-25" style="margin-left: 283px;">Back</a>
                </div>
            </div>
        </div>
    </div>
<div style="width: 235px;height: 57px; position: absolute; right: 0px;top: 0px;">
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}{% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}{% endif %}" style="width: 230px;">
            {{ message }}
        </div>
        {% endfor %}
        <meta http-equiv="refresh" content="2">
    {% endif %}
</div>

{% endblock body %}
