{% extends 'main.html' %}

{% block title %}
<title>Register Page</title>
{% endblock title %}

{% block body %}
<div class="d-flex justify-content-center overflow-hidden" style="margin-top: 90px; margin-bottom: 10px;">
    <div class="d-flex">
        <img src="https://images.livemint.com/img/2023/02/10/1600x900/Stock_market_news_1675988415033_1675988415210_1675988415210.jpg" alt="Login Image" style="width: 500px; height: auto;">
        <div class="">
            <h1 style="text-align: center; font-size: 40px; margin-top: 40px; margin-bottom: -14px;">Welcome to P2PMax</h1>
            <form class="container my-5" method="POST">
                {% csrf_token %}
                <div class="form-row" style="width: 600px;">
                    
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputEmail4" style="margin-bottom: 5px;">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email" required >
                        </div> 
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputPassword4" style="margin-bottom: 5px;">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password" required onfocus="onFocuspassword()" onblur="onBlurPassword()">
                        </div>
                    </div>
                    <div class="d-none" id="validation">
                        <p style="margin-left: 200px; margin-top: -15px; font-size: 12px;">Password must be 8 characters long.</p>
                        <p style="margin-left: 200px; margin-top: -20px; font-size: 12px;">Password must be one digit.</p>
                        <p style="margin-left: 200px; margin-top: -20px; font-size: 12px;">Password must be one special character.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-4">
                            <label for="inputPassword4" style="margin-bottom: 5px;">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="confirm password" required>
                        </div>
                    </div>
                   
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-md-6 mb-4">
                            <label for="inputTelegram" style="margin-bottom: 5px;">Telegram ID</label>
                            <input type="text" class="form-control" id="inputTelegram" name="telegram" required>
                        </div>
                    </div>
                    <div style="margin-bottom: 5px; margin-top: 7px; display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-primary col-md-6">Sign up</button>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <p>Already have an account/</p>
                        <a href="{% url 'login' %}">Sign in</a>
                    </div>
                </div>
                <div style="width: 320px;height: 57px; position: absolute; right: 0px;top: 0px;">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}{% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}{% endif %}" style="width: 320px;">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <meta http-equiv="refresh" content="2">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const passwordVaidation = document.querySelector('#validation')

function onFocuspassword(){
    passwordVaidation.classList.remove('d-none')
}

function onBlurPassword(){
    passwordVaidation.classList.add('d-none')
}

</script>

{% endblock body %}
