{% extends 'main.html' %}

{% block title %}
<title>Reset Password Page</title>
{% endblock title %}

{% block body %}
<h1 style="text-align: center;">Reset Password Form</h1>

<form class="container my-4" method="POST">
  {% csrf_token %}
  <div class="form-row" style="width: 800px; margin-left: 435px;">
    <div class="form-group col-md-6">
      <label for="inputPassword4">New Password</label>
      <input type="password" class="form-control" id="inputPassword4" name="new password" Required>
    </div>
    <div class="form-group col-md-6 mb-2">
      <label for="inputConfirmPassword4">Confirm New Password</label>
      <input type="password" class="form-control" id="inputPassword4" name="confirm new password" Required>
    </div> 
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% endblock body %}